<div class="container" *ngVar="(itemRD$ | async) as itemRD">
### 03 2025 -  RA custom theme / item-page component ###
  <div class="item-page" *ngIf="itemRD?.hasSucceeded" @fadeInOut>

    <!-- test data: -->
    <!--
    <p>itemRD is ok {{itemRD | json}}</p>
    <hr>
    "dc > payload > metadata > dc.rughts.license obj =
    {{ itemRD["payload"]["metadata"]["dc.rights.license"]| json }}
    <hr>
    dc.rights.license = <b>
    {{ itemRD["payload"]["metadata"]["dc.rights.license"][0]["value"] | json }}
    </b> -->

    <div *ngIf="itemRD?.payload as item">
<!--      <ds-metadata-uri-values> RA metadata-uri </ds-metadata-uri-values>-->

      <ds-themed-item-alerts [item]="item"></ds-themed-item-alerts>
      <ds-item-versions-notice [item]="item"></ds-item-versions-notice>
      <ds-view-tracker [object]="item"></ds-view-tracker>
      <ds-listable-object-component-loader *ngIf="!item.isWithdrawn || (isAdmin$|async)" [object]="item" [viewMode]="viewMode">
      </ds-listable-object-component-loader>

<!--	<ds-generic-item-page-field [item]="item" [fields]="['dc.title']" style="border: blue 2px solid">-->
<!--		<h2> generic component inner html ##+## </h2>-->
<!--	</ds-generic-item-page-field>-->


<!--      <div *ngIf='item["metadata"]["dc.rights"]' class="item-page-field" style="#off#-border: blue 2px dashed">-->
<!--         <h2 class="simple-view-element-header">Rights</h2>-->
<!--         <pre> {{ item["metadata"] | json }} </pre>-->
         <!-- <div>{{ itemRD["payload"]["metadata"]["dc.rights.license"][0]["value"] }}</div> -->
<!--         <div>Rights:{{ item["metadata"]["dc.rights"][0]["value"] }} </div>-->

      <div>
        <a class="dont-break-out" *ngFor="let mdValue of item['metadata']['dc.rights']; let last=last;" [href]="mdValue.value">

         <span  *ngIf="mdValue.value" >

          <img *ngIf="mdValue.value.includes('/c_f1cf')"  width="50" height="50"
          src="assets/images/zamky_Partialy_closed_access_hodiny.png">

          <img *ngIf="mdValue.value.includes('/c_14cb')"  width="50" height="50"
          src="assets/images/zamky_Closed_access.png">

          <img *ngIf="mdValue.value.includes('/c_abf2')"  width="50" height="50"
          src="assets/images/zamky_Open_access.png">

          <img *ngIf="mdValue.value.includes('/c_16ec')"  width="50" height="50"
          src="assets/images/zamky_Partialy_closed_access_instituce.png">

	 </span>
        </a>
      </div>
<!--     </div>-->


      <div *ngIf='item["metadata"]["dc.rights.license"]' class="item-page-field" style="#off#-border: red 2px dashed">
         <h2 class="simple-view-element-header">License</h2>
         <!-- <div>{{ itemRD["payload"]["metadata"]["dc.rights.license"][0]["value"] }}</div> -->
<!--         <div>Link:{{ item["metadata"]["dc.rights.license"][0]["value"] }} </div>-->


    <!-- <a class="dont-break-out" *ngFor="let mdValue of mdValues; let last=last;" [href]="mdValue.value"> -->
	<a class="dont-break-out" *ngFor="let mdValue of item['metadata']['dc.rights.license']; let last=last;" [href]="mdValue.value">

<!--       <div>-->
         <span  *ngIf="mdValue.value" >

          <!-- <img *ngIf="mdValue.value.includes('creativecommons.org/licenses')"  width="20" height="25"
          src="https://creativecommons.org/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-logo" > -->

          <img *ngIf="mdValue.value.includes('/by/')"  width="90" height="31"
	  src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by.png">
	  
          <img *ngIf="mdValue.value.includes('/nc/')"  width="90" height="31"
	  src="http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc.png">

          <img *ngIf="mdValue.value.includes('/nd/')"  width="90" height="31"
	  src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nd.png">

          <img *ngIf="mdValue.value.includes('/sa/')"  width="90" height="31"
          src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-sa.png">

          <img *ngIf="mdValue.value.includes('/by-nc-sa/')"  width="90" height="31"
          src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png">

          <img *ngIf="mdValue.value.includes('/by-nc-nd/')"  width="90" height="31"
          src="http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png">

          <img *ngIf="mdValue.value.includes('/by-cc0d/')"  width="90" height="31"
          src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/cc-zero.png">

          <img *ngIf="mdValue.value.includes('/publicdomain/')"  width="90" height="31"
          src="http://mirrors.creativecommons.org/presskit/buttons/88x31/png/publicdomain.png">


         </span>
<!--       </div>-->

<!--       <span style="display:none">{{ linktext || mdValue.value }} </span>
       <span *ngIf="!last" [innerHTML]="separator"></span>
-->    
	</a>
    </div>


      <ds-item-versions class="mt-2" [item]="item" [displayActions]="false"></ds-item-versions>
    </div>
  </div>
  <ds-error *ngIf="itemRD?.hasFailed" message="{{'error.item' | translate}}"></ds-error>
  <ds-themed-loading *ngIf="itemRD?.isLoading" message="{{'loading.item' | translate}}"></ds-themed-loading>
</div>

