<h1>{{ 'info.end-user-agreement.head' | translate }}</h1>
<p><em>Naposledy upraveno 7. listopadu 2023</em></p>
<br>
<p>Od roku 2010 provozuje Národní technická knihovna Institucionální digitální repozitář (IDR), který slouží k evidenci, dlouhodobé archivaci a zpřístupnění publikační činnosti zaměstnanců NTK a dalších děl s NTK spojených.</p>

<h2>Díla v IDR</h2>
<p>Do IDR jsou vkládána hotová díla, je ale možné verzovat dokumenty dle potřeby jejich aktualizace. Kromě textových dokumentů je možné do IDR vkládat také obrázky a fotografie, videa, zvukové nahrávky a (výzkumná) data.</p>
<p>Dokumenty je možné vkládat v interním režimu (díla jsou dostupná pouze zaměstnancům NTK) nebo veřejném režimu (díla jsou dostupná bez omezení veřejnosti) a opatřit je licencemi Creative Commons.</p>
<p>Repozitář umožňuje rovněž ukládání děl a jejich zveřejnění po určitém časovém období (embargo).</p>

<h2>Směrnice a návody</h2>
<p>Provoz repozitáře a ukládání děl do něj se řídí Směrnicí č. x/2024 ředitele NTK, která je dostupná zde. Ke směrnici patří také příloha, uvádějící, která díla do IDR patří a která díla by měla být v repozitáři uložena veřejně.</p>
<p>Pro zaměstnance vkládající díla do repozitáře jsou určené také manuály a návody ke vkládání.</p>

<p>Pokud budete mít dotazy k repozitáři, vkládání děl do něj apod., obraťte se prosím na <a href="mailto:repozitar@techlib.cz">repozitar@techlib.cz</a></p>

<p>Software DSpace, který je použit k provozu této stránky je open source. Jeho využití, šíření a úpravy jsou upraveny jeho open source licencí dostupnou na <a href="https://github.com/DSpace/DSpace/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">https://github.com/DSpace/DSpace/blob/main/LICENSE</a></p>
