<h1>Informace subjektu osobních údajů (pro autory vkládající svá díla do Institucionálního digitálního repozitáře NTK)</h1>
<p><em>Naposledy upraveno 23. února 2024</em></p>
<br>
<p><b>For english, scroll below</b></p>
<p>
Správcem osobních údajů v rámci spolupráce autorů, kteří nejsou zaměstnanci NTK a vkládají svá díla do Institucionálního repozitáře NTK (dále IDR), je příspěvková organizace Národní technická knihovna, se sídlem Technická 6/2710, 160 80 Praha 6 - Dejvice. 
</p>
<p>
Vaše osobní údaje jsou zpracovávány dle Nařízení Evropského Parlamentu a Rady (EU) 2016/679 ze dne 27.dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen „GDPR“) v rozsahu jméno, příjmení, pracoviště. Účelem zpracování osobních údajů je vedení a funkční katalogizace databáze Institucionální digitální repozitář a právním důvodem zpracování je dle čl. 6 odst. 1 písm. b) GDPR splnění smlouvy. Osobní údaje nejsou automatizovaně zpracovány a nejsou dále předávány jiným subjektům. 
</p>
<p>
Subjekt údajů je tímto poučen o svých právech vyplývajících z čl. 13 GDPR, tedy práva požadovat od správce přístup k jeho osobním údajům, jejich opravu nebo výmaz, popřípadě omezení zpracování, a vznést námitku proti zpracování, jakož i práva na přenositelnost údajů. Pro výkon uvedených práv je na straně správce kontaktní osobou Jan Kolátor, s dotazy ohledně databáze IDR se můžete na nás obracet prostřednictvím emailu <a href="mailto:gdpr@techlib.cz">gdpr@techlib.cz</a>. Osobní údaje budou zpracovány nejdéle po dobu trvání závazku k databázi. Po ukončení vztahu (např. odstoupením subjektu údajů od smlouvy k vedení databáze) jsou osobní údaje smazány a dále k dalšímu zpracování nedochází.
</p>
<p>
Subjekt údajů má po marném kontaktování správce právo podat námitku proti zpracování dozorovému úřadu, kterým je Úřad na ochranu osobních údajů, na <a href="mailto:posta@uoou.cz">posta@uoou.cz</a>, případně viz <a href="www.uoou.cz">www.uoou.cz</a>.
</p>
<br>
<br>
<h1>Information for data subject (for authors uploadig their works to Institutional Digital Repository of the National Library of Technology)</h1>
<p><em>Last updated February 23, 2024</em></p>
<br>
<p>
The National Library of Technology NTK), a public benefit organization, with the registered office at Technická 6/2710, 160 80 Praha 6 – Dejvice, is the controller of personal data within the cooperation of authors who are not NTK employees and who upload their works to NTK´s Institutional Repository (hereinafer IDR)
</p>
<p>
Your personal data are processed under the Regulation (EU) of the European Parliament and of the Council 2016/679 of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data (hereinafter “GDPR”) in the scope: name, surname, workplace. The purpose of personal data processing is the administration and functional catalogization of the Institutional Digital Repository Database and the legal basis for processing is, under Article 6(1)b) GDPR, contract performance. Personal data are not processed by automated means and are not transmitted to other entities.
</p>
<p>
The data subject is hereby advised on his/her rights arising from Article 13 GDPR, meaning the right to request the controller to provide him/her with access to personal data, their rectification or erasure, eventually to limit the processing and object to their processing, as well as the right to data portability. Jan Kolátor is the controller´s contact person for exercising the mentioned rights. You can use the following email (<a href="mailto:gdpr@techlib.cz">gdpr@techlib.cz</a>) to ask about IDR database. Personal data will be processed no longer than for the existence of the obligation regarding the database. Personal data will be erased after termination of the relation (for example by withdrawal of the data subject from the contract for administration of the database) and no further processing will take place.
</p>
<p>
If the data subject contacts the controller to no avail, he/she is entitled to object to processing via a supervisory authority which is The Office for Personal Data Protection, at <a href="mailto:posta@uoou.cz">posta@u    oou.cz</a>, or <a href="www.uoou.cz">www.uoou.cz</a>.
</p>
